*{
    margin: 0;
    padding: 0;
    font-family: 'Akshar', sans-serif;
    /*
    cursor: none;
    */
}
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
/*----------------------- HEADER -----------------------*/
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.png);
    background-position: center;
    background-size: cover;
    position: relative;
}
/*----------------------- CUSTOM CURSOR CODE ------------*/
.cursor{
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    transform: translate(-50%,-50%);
    pointer-events: none;
}
.cursor img{
    max-width: 20px;
    transform: translate(-30%,-50%);
}
*/
/*--------------------- TITLE SECTION -------------------*/
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    padding-top: 40px;
    padding-left: 40px;
    width: 140px;
}
.nav-links{
    position: absolute;
    top: 80px;
    right: 40px;
    display: inline-block;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.4s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 65px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: #fff;
}
.table{
    display: table;
    margin: 0 auto;
}
.table ul li{
    float: left;
    list-style: none;
    padding: 2px 4px
}
.table img{
    width: 30px;
    opacity: 60%;
}
.table img:hover{
    opacity: 100%;
}
/*---------------------- MOBILE CODE -------------*/
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: absolute;
        background: #000;
        height: 100vh;
        width: 170px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
    /*
    .cursor{
        visibility: hidden;
    }
    .tradingview-widget-container{
        width: 80vh;
        margin: auto;
    }
    */
}

/*------------------------ NEWS SECTION ------- */
.news{
    min-height: 60vh;
    width: 80%;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 100px;
}
.news h1{
    font-size: 36px;
    font-weight: 600;
}
.news p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.news-column{
    flex-basis: 31%;
    background: #DCDCDC;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/*------------------- BRANDS SECTION --------- */
.brands{
    min-height: 60vh;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.brands h1{
    font-size: 36px;
    font-weight: 600;
}
.brands p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.brands-column{
    flex-basis: 31%;
    background: #DCDCDC;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/*--------------------- STOCKS SECTION ----------*/
.stocks{
    min-height: 60vh;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    position: relative;
    padding-bottom: 100px;
}
.stocks h1{
    font-size: 36px;
    font-weight: 600;
}
.stocks p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.tradingview-widget-container{
    width: 80vh;
    margin: auto;
}

/*---------------------- SERVICES SECTION -------*/
.services{
    min-height: 60vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #F5F5F5;
}
.media-scroller{
    min-height: 40vh;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-auto-flow:column;
    grid-auto-columns: 28%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-element{
    display: grid;
    grid-template-rows: min-content;
    background: #DCDCDC;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}
.snaps-inline > * {
    scroll-snap-align: start;

}
/*--------------------- CONTACT SECTION -----------*/
.contact{
    background-color: #000;
    min-height: 40vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact img{
    width: 150px;
}
.contact h4 a{
    color:white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 300;
}
.contact h4 a:hover{
    color: gray;
}
.contact p{
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
.table2{
    display: table;
    margin: auto;
    padding-bottom: 100px;
}
.table2 ul li{
    float: left;
    list-style: none;
    padding: 2px 4px
}
.table2 img{
    width: 23px;
}
.table2 img:hover{
    opacity: 40%;
}