*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akshar', sans-serif;
}
a:link, a:visited {
    color: white;
    text-align: center;
    text-decoration: none;
}
body{
    overflow-x: hidden;
}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb{
    border-radius: 100px;
    background-color: darkgray;
}
::-webkit-scrollbar-track{
    width: 10px;
}
.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #EDA361;
    background: linear-gradient(to left, #EDA361, #EDA361);
    z-index: -1;
}
.logo{
    width: 40px;
    grid-column: 2/3;
}
nav{
    display: grid;
    grid-template-columns: 10% 1fr 1fr 10%;
    min-height: 10vh;
    color: #EDA361;
    align-items: center;
}
.hamburger{
    justify-self: end;
    width: 20px;
}
.title{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}
.hero{
    height: 60%;
    width: 100%;
    position: relative;
    color: #EDA361;
}
.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.headline{
    position: absolute;
    top: 70%;
    left: 0%;
    font-size: 100px;
    color: white;
    z-index: 3;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}
.para{
    position: absolute;
    top: 84.8%;
    left: .5%;
    font-size: 20px;
    color: white;
    z-index: 3;
    padding-left: 20px;
    font-family: 'Prompt', sans-serif;
}
.hero::after{
    content: "";
    background: #000;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}
/*---------------------- MOBILE CODE -------------*/
@media(max-width: 540px){
    .headline{
        top: 350px;
    }
}
@media(max-width: 1250px){
    .headline{
        font-size: 60px;
    }
}
@media(max-width: 700px){
    html, body {
        overflow-x: hidden;
    }
    .headline{
        font-size: 25px;
        transform: translate(0, 230px);
    }
    .para{
        font-size: 15px;
    }
}
/*------------------------ NEWS SECTION ------- */
.background{
    background-color: #EDA361
}
.news{
    min-height: 60vh;
    width: 80%;
    margin: auto;
    background-position: center;
    background-size: cover;
    position: relative;
    text-align: center;
    padding-top: 100px;
}
.news h1{
    font-size: 25px;
    font-weight: 400;
}
.news p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.rows{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.news-column{
    flex-basis: 31%;
    background: #F1B581;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}

/*------------------- BRANDS SECTION --------- */
.brands{
    min-height: 60vh;
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.brands h1{
    font-size: 25px;
    font-weight: 400;
}
.brands p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
}
.brands-column{
    flex-basis: 31%;
    background: #F1B581;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
/*---------------------- SERVICES SECTION -------*/
.services{
    min-height: 60vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    background-position: center;
    background-size: cover;
    position: relative;
    background-color: #EDA361;
}
.services h1{
    font-size: 25px;
    font-weight: 400;
}
.services p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding-bottom: 25px;
}
/*---------------------- IN BOX CONTENT --------*/
.media-element1 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element1 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element2 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element2 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element3 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element3 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element4 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element4 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element5 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element5 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element6 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element6 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element7 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element7 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element8 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element8 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 90%;
    transition: .6s ease-out
}
.media-element9 h4{
    font-size: 25px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
}
.media-element9 p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-out
}
/*------------------- OUTBOX LAYOUT -----*/
.media-scroller{
    min-height: 40vh;
    width: 85%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    display: grid;
    grid-auto-flow:column;
    grid-auto-columns: 43%;

    overflow-x: auto;
    overscroll-behavior-inline: contain;
}
.media-element1{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/BrandStrategy.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element9{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    margin-right: 14px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Sales.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element2{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/WhiteLabeling.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element3{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Packaging.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element4{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Seeds.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element5{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Cloning.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element6{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/TissueCulture.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element7{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/LED.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.media-element8{
    display: grid;
    grid-template-rows: min-content;
    border-radius: 40px;
    margin-bottom: 5%;
    padding: 30px 12px;
    box-sizing: content-box;
    margin-left: 30px;
    box-shadow: 5px 5px 10px gray;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/Soil.png);
    background-position: center;
    background-size: cover;
    position: relative;
    color: white;
    font-family: 'Akshar', sans-serif;
}
.snaps-inline{
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 10px;
}
.snaps-inline > * {
    scroll-snap-align: start;
}
/*-------------------- HOVER BUTTON --------------*/
.media-element1 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element2 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element3 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element4 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element5 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element6 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element7 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element8 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
.media-element9 p:hover{
    font-size: 17px;
    transition: .6s;
    opacity: 100%;
}
/*--------------------- CONTACT SECTION -----------*/
.contact{
    background-color: #E98C3A;
    min-height: 5vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 15px;
    background-position: center;
    background-size: cover;
    position: relative;
}
.contact img{
    padding-top: 20px;
    width: 100px;
}
.contact h4 a{
    color:black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    font-weight: 300;
    transition: .5s;
}
.contact h4 a:hover{
    opacity: 50%;
    transition: .5s;
}
.contact p{
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
}
.table2{
    display: table;
    margin: auto;
    padding-bottom: 50px;
}
.table2 ul li{
    float: left;
    list-style: none;
    padding: 2px 4px
}
.table2 img{
    width: 23px;
    transition: .5s;
}
.table2 img:hover{
    opacity: 50%;
    transition: .5s;
}